body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 colunas */
    gap: 20px; /* Espaço entre as colunas */
    padding: 10px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 5 colunas */
    gap: 20px; /* Espaço entre as colunas */
    padding: 10px;
}

.column {
    background: #fff;
    border-radius: 5px;
}

.column h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.category {
    display: inline-block;
    width: 100%;
    break-inside: avoid; /* Evita quebras dentro das categorias */
    background: #fff;
}

.category h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
}

.item:nth-child(odd) {
    background-color: #f9f9f9;
}

button {
    width: 100%;
    height: 50px;
    margin-top: 9px;
    padding: 10px 16px;
    background: #3600f8;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #1503b6;
}